
nav li {
    display: inline;
    border-right: 3px solid darkmagenta;
}
ul li:last-child{
    border-right: none;
}
nav a {
    color: deeppink;
    padding: 10px 20px;

}
nav a:hover {
    color: HotPink;
}


ul {
    text-align: center;
    font-size: 25px;
}

.currentItem {
    color: MediumVioletRed;
    font-weight: bold;
    font-size: 30px;

}

article p {
    border: 1px solid slategrey;
    background-color: silver;
    padding: 10px;
    margin: 15px;
}
@media screen and (min-width: 1200px) {
article {
    display: flex;
}

}

@media all and (max-width: 375px){

}

@media all and (min-width: 768px) and (orientation: portrait){

}
